/* Sidebar.css */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #e1f9f4;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
  color: #1a1b1c;
  font-size: 30px;
  text-align: center;
  margin-bottom: 80px;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-bottom: 15px;
  padding-left: 30px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-icon {
  margin-right: 20px; /* Add spacing between the image and menu text */
}

.menu a:hover {
  color: "blue";
}

.active {
  /* background-color: #555; */
  color: "blue";
}

img {
  width: 24px;
  height: 24px;
}
