body {
  background-color: #e1f9f4;
}
.ps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}
.part-02 input::placeholder {
  padding-left: 20px;
  font-size: 14px;
  color: #999;
}