

body {
  background-color: #e1f9f4;
}
.ps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}
.part-02 input::placeholder {
 
  font-size: 14px;
  color: #999;
}
@media (max-width: 480px) {
  .ps {
    padding: 10px;
    margin: 10px;
  }
  .part-02 input::placeholder {
    font-size: 10px;
  }
}